@mixin infoLabel() {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    min-width: 8rem;
    border-radius: 20px;
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize;
}